<div class="flex flex-row ">
    <div class="absolute h-[100%] w-[30%] lg:w-[20%] drawer overflow-y-scroll">
        <div class="flex flex-col m-2 p-10 justify-center align-center text-center">
            <img src="assets/icons/logo.svg" alt="">
            <p class="font-bold text-md italic"> v1.0.0</p>
        </div>
    
        <div class="flex flex-col m-2 p-10 ">
            <div class="flex flex-row items-center m-2 cursor-pointer" routerLink="/dashboard">
                <img src="assets/icons/dashboard.svg" class="mr-2 p-2" alt="" srcset="">
                <p class="text-gray-300 font-bold text-xl" [routerLink]="['/dashboard']"
                    [routerLinkActive]="['text-white']">Dashboard</p>
            </div>
            <div class="flex flex-row items-center  m-2 cursor-pointer">
                <img src="assets/icons/releases.svg" class="mr-2 p-2" alt="" srcset="">
                <p class="text-gray-300 font-bold text-xl" [routerLink]="['/releases']" [routerLinkActive]="['text-white']">
                    Releases</p>
            </div>
            <div class="flex flex-row items-center  m-2 cursor-pointer">
                <img src="assets/icons/settings.svg" class="mr-3 p-2" alt="" srcset="">
                <p class="text-gray-300 font-bold text-xl" [routerLink]="['/settings']" [routerLinkActive]="['text-white']">
                    Settings</p>
            </div>
        </div>
    </div>
    <div class="absolute h-[100%] w-[70%] lg:w-[80%] right-0 bg-gray-800 overflow-y-auto text-white">
        <router-outlet></router-outlet>
    </div>
</div>

