<div class="flex flex-col flex-no-wrap mx-4 my-2 px-4 py-2">
    <div class="flex flex-row items-center justify-center">
        <h1 class="text-3xl font-bold px-4 py-2 mr-3">
            Configure & See Release Jobs
        </h1>
        <div class="px-4 py-2 rounded border border-white cursor-pointer hover:border-gray-300" [routerLink]="['/add-new-job']">
            <img src="assets/icons/add.svg" alt="" srcset="">
        </div>
    </div>

    <div class="flex flex-col overflow-y-scroll mb-5">
        <div class="flex flex-col px-4 py-2 mb-2 bg-gray-900 rounded shadow-xl" *ngFor="let releaseJob of releaseJobs">
            <div class="flex flex-row px-4 py-2">
                <b class="mr-5">{{releaseJob.name}}</b> 
                release type: 
                <b>{{releaseJob.releaseType}}</b> 
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>project : </b>{{releaseJob.project}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>branch : </b>{{releaseJob.branch}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>prep script : </b>{{releaseJob.prepScript}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>build command : </b>{{releaseJob.buildCommand}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>version number strategy : </b>{{releaseJob.versionNumberStrategy}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>web hook url : </b>{{releaseJob.webHookUrl}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>target location for windows : </b>{{releaseJob.targetLocationForWindows}}
            </div>
            <div class="flex flex-row px-4 py-2">
                <b>target location for linux: </b>{{releaseJob.targetLocationForLinux}}
            </div>
        </div>
    </div>
</div>

